.service-back {
    background-color: #f9f9fa;
    padding: 4rem 0;
    text-align: center;
}


@font-face {
    font-family: 'Line Rounded Icons';
    src: url('https://assets.website-files.com/63becc2faa5fe5779ca9a7a5/63becc2faa5fe56a9da9a85d_line-rounded-icons.woff2') format('woff2'), url('https://assets.website-files.com/63becc2faa5fe5779ca9a7a5/63becc2faa5fe58088a9a820_line-rounded-icons.eot') format('embedded-opentype'), url('https://assets.website-files.com/63becc2faa5fe5779ca9a7a5/63becc2faa5fe5f70ca9a7fc_line-rounded-icons.woff') format('woff'), url('https://assets.website-files.com/63becc2faa5fe5779ca9a7a5/63becc2faa5fe525b0a9a825_line-rounded-icons.ttf') format('truetype'), url('https://assets.website-files.com/63becc2faa5fe5779ca9a7a5/63becc2faa5fe5d7c7a9a7ff_line-rounded-icons.svg') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.grid-3-columns {
    grid-column-gap: 28px;
    grid-row-gap: 28px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.w-container-lg {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.container-lg-default {
    max-width: 1244px;
    padding-left: 24px;
    padding-right: 24px;
}

.section {
    padding-top: 140px;
    padding-bottom: 140px;
}

.section.border-bottom-neutral-400 {
    border-bottom: 1px solid #b1b9ca;
}


.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.card {
    background-color: #fff;
    border: 1px solid #dfe5ee;
    border-radius: 18px;
    text-decoration: none;
    overflow: hidden;
    transform: translate(0);
    box-shadow: 0 2px 8px rgba(42, 42, 43, .06);
}

.card.service-category-card {
    flex-direction: column;
    text-decoration: none;
    transition: transform .3s, color .3s;
    display: flex;
    overflow: hidden;
}

.card.service-category-card:hover {
    transform: scale(.98);
}

a,
img {
    transition: all ease 0.6s;
}

/* a:hover img {
    transition: all ease 0.6s;
    transform: scale(1.10);
} */

.image-wrapper {
    overflow: hidden;
    transform: translate(0);
}

.service-category-card-content-bottom {
    padding: 32px 24px;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    display: inline-block;
}

a {
    color: black;
}


a:hover {
    outline: 0;
    color: var(--primary-light-orange);
}

.image {
    width: 100%;
    height: 100%;
}

.mg-bottom-8px {
    margin-bottom: 8px;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

.color-neutral-600 {
    color: #5f687a;
}

.mg-bottom-0 {
    margin-bottom: 0;
}

.flex-horizontal {
    justify-content: center;
    align-items: center;
    display: flex;
}

.flex-horizontal.space-between {
    justify-content: space-between;
}

h3 {
    color: #1c1f23;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.417em;
}

.btn-circle-secondary {
    width: 60px;
    height: 60px;
    min-height: 60px;
    min-width: 60px;
    color: #1c1f23;
    transform-style: preserve-3d;
    background-color: #fff;
    border: 1.5px solid #1c1f23;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    text-decoration: none;
    transition: border-color .3s, transform .3s, background-color .3s, color .3s;
    display: flex;
}

.btn-circle-secondary.small {
    width: 40px;
    height: 40px;
    min-height: 40px;
    min-width: 40px;
    font-size: 18px;
    line-height: 1em;
}

.line-rounded-icon {
    font-family: Line Rounded Icons, sans-serif;
}

.service-text {
    text-align: left;
}


/* service-2 */

.icon-over-service{
    font-size: 22px;
    color: var(--secondary-blue);
    padding: 10px 12px;
    background-color: rgba(2, 10, 255, 0.899);
    border: none;
    border-radius: 4px;
}